<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <i class="show-menu fa fa-bars" aria-hidden="true"></i>
      <div class="trigger">
        <ul>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li>
            <a class="page-link" href="{{ my_page.url | relative_url }}">
              {{ my_page.title | escape }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </nav>

  </div>

</header>
