// Typeface and Swatch configuration for the teamred theme

// Colors
$primary-light:     #E05750;
$primary-dark:      #D02720;
$secondary-light:   #A050D0;
$secondary-dark:    #7020A0;
$background-head:   #401060;

$background-dark:   #272020;
$background-light:  #E7E0DA;
$card-dark:         lighten($background-dark, 5%);
$card-light:        darken($background-light, 5%);

$text-grey-dark:    #A09087;
$text-dark:         #D0C0B7;
$text-grey-light:   #605047;
$text-light:        #302727;

$mono-white:        #F7F7F7;
$mono-dark:         #202020;
$mono-black:        #000000;

// Line widths
$line-normal:        2px;
$line-thick:         4px;
$line-thin:          1px;

// Typefaces
$body-font:         "Muli", Helvetica, Arial, sans-serif;
$headline-font:     "Josefin Sans", Helvetica, Arial, sans-serif;
$monospace-font:    "Source Code Pro", monospace;
$icon-font:         "FontAwesome";
$normal-weight:     400;
$light-weight:      300;
$bold-weight:       600;

// Sizes
$content-width:     1024px;
$on-mobile:        640px;
$on-tablet:        960px;

$spacer-large:      24px;
$spacer-medium:     12px;
$spacer-small:      8px;

// Imports
@import "teamred/mixin";
@import "teamred/blocks";
@import "teamred/standard";
@import "teamred/base";
@import "teamred/tomorrow-night";

@media print {
    @import "teamred/tomorrow";
}

