// Items that appear in the base page layout

.site-header {
    @extend .no-padding;
    background-color: $background-head;
    color: $primary-dark;
    border-bottom: 2px solid $primary-dark;

    @media print {
        display: none;
    }

    .wrapper {
        @extend .content-size;
    }

    .site-title, i.show-menu {
        display: block;
        clear: left;
        float: left;
        padding: 9px $spacer-small 2px $spacer-small;
        font-family: $headline-font;
        font-size: 22px;
        font-weight: $bold-weight;
        text-transform: uppercase;
    }

    i.show-menu {
        font-weight: $normal-weight;
        font-family: $icon-font;
        float: right;
        clear: right;
        display: none;
        padding: 6px;
        @include device($on-tablet) {
            display: block;
        }
    }


    ul {
        @extend .no-padding;
        list-style: none;
        float: right;

        @include device($on-tablet) {
            float: none;
            clear: both;
            padding: 4px;
        }

        li {
            @extend .no-padding;
            display: block;
            list-style: none;
            float: left;
            text-align: center;

            @include device($on-tablet) {
                width: 20%;
            }
            @include device($on-mobile) {
                float: none;
                clear: both;
                width: auto;
            }

            a {
                @include button($background-head);
            }
        }
    }
}

.page-content {
    @extend .content-size;
    $height: 48px;

    .wrapper {
        padding:  $spacer-small;
    }

    .post-header {
        @extend .no-padding;
        margin-bottom: $spacer-small;

        h1.post-title {
            font-size: 24pt;
            text-align: center;
            text-transform: uppercase;
            margin: 0.3em $spacer-large 0.1em $spacer-large;
            @media print {
                color: $mono-dark;
                text-transform: none;
            }
        }

        .post-meta {
            border: {
                style: solid;
                color: $primary-light;
                width: $line-thin;
            }
            overflow: hidden;
            background-color: $primary-light;

            @media print {
                font-size: 0.9em;
                border-color: $mono-black;
                border-width: $line-normal 0 0 0;
                text-align: center;
            }
        }

        .post-avatars {
            @extend .no-padding;
            height: $height;
            float: left;
            border: {
                style: solid;
                color: $primary-light;
                width: $line-thin;
            }

            img {
                @extend .no-padding;
                float: left;
                width: $height;
                height: $height;
                border-right: $line-normal solid $primary-light;
            }

            img:last-of-type {
                border-width: 0;
            }

            @media print {
                display: none;
            }

            @include device($on-mobile) {
                display: none;
            }
        }

        .meta-text {
            @extend .no-padding;
            height: $height;
            padding: 0 $spacer-medium;
            border: {
                style: solid;
                color: $primary-light;
                width: $line-thin;
            }

            @media print {
                border: none;
            }

            @include device($on-mobile) {
                text-align: center;
            }
        }

        .post-authors, time {
            font-size: 1.2em;
            color: $text-light;
            font-weight: $bold-weight;
        }

        time {
            display: block;
            font-weight: $normal-weight;
            font-size: 1.1em;
        }
    }
}

.site-footer {
    @extend .no-padding;
    background-color: $background-head;
    color: $primary-dark;
    border-top: 2px solid $primary-dark;

    .wrapper {
        @extend .content-size;
    }
}

#disqus_thread {
    @media print {
        display: none;
    }
}
