// Standard HTML elements

html, body {
  @extend .no-padding;
  font-family: $body-font;
  background-color: $background-dark;
  color: $text-dark;
  font-weight: $normal-weight;
  overflow: auto;

  @media print {
    color: $mono-black;
    background: #FFFFFF;
  }
}

p {
  page-break-inside: avoid;
}

a {
  color: $primary-light;
  text-decoration: none;
  font-weight: $bold-weight;
  &:hover {
    color: $primary-light;
    text-decoration: underline;
  }
  &:active {
    color: darken($primary-light, 20%);
  }

  @media print {
    color: $mono-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font;
  font-weight: $bold-weight;
  color: $primary-light;

  @media print {
    color: $mono-dark;
  }
}

pre, code {
  font-family: $monospace-font;
}

pre {
  @extend .outline;
  padding: $spacer-small;
  word-wrap: break-word;
  white-space: pre-wrap;
}

hr {
  @extend .no-padding;
  border-color: $primary-dark;
  border-style: solid;
  border-width: $line-thin;

  @media print {
    border-color: $mono-black;
  }
}

table {
  margin: $spacer-small auto;
  border-collapse: collapse;
  page-break-inside: avoid;

  thead {
    border-bottom: $line-thick solid $primary-dark;
    @media print {
      border-color: $mono-black;
    }
  }

  tfoot {
    border-top: $line-thick solid $primary-dark;
    @media print {
      border-color: $mono-black;
    }
  }

  th, td {
    padding: 0.2em 0.6em;
    border: {
      color: $primary-dark;
      style: solid;
      width: 0 $line-thin;
    }
    @media print {
      border-color: $mono-black;
    }
  }
  th:first-child, td:first-child {
    border-left-width: 0;
  }
  th:last-child, td:last-child {
    border-right-width: 0;
  }

  tr {
    border: {
      color: $primary-dark;
      style: dotted;
      width: $line-thin 0;
    }
    @media print {
      border-color: $mono-black;
    }
  }
  tr:first-child {
    border-top-width: 0;
  }
  tr:last-child {
    border-bottom-width: 0;
  }
}

blockquote {
  margin: 0;
  padding: $spacer-small $spacer-medium;
  border: {
    width: 0 $line-thick;
    color: $primary-dark;
    style: solid;
  }

  page-break-inside: avoid;

  @media print {
    border-color: $mono-black;
  }
}
