// Standard HTML elements

html, body {
    @extend .no-padding;
    font-family: $body-font;
    background-color: $background-dark;
    color: $text-dark;
    font-weight: $normal-weight;
    overflow: auto;

    @media print {
        color: $mono-black;
        background: none;
    }
}

a {
    color: $primary-dark;
    text-decoration: none;
    font-weight: $bold-weight;
    &:hover {
        color: $primary-light;
    }
    &:active {
        color: darken($primary-light, 20%);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headline-font;
    font-weight: $bold-weight;
    color: $primary-dark;

    @media print {
        color: $mono-dark;
    }
}

pre, code {
    font-family: $monospace-font;
}

pre {
    @extend .outline;
    padding: $spacer-small;
    word-wrap: break-word;
    white-space: pre-wrap;
}

hr {
    @extend .no-padding;
    border-color: $primary-dark;
    border-style: solid;
}
