---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Typeset
$base-font-family: "Muli", Helvetica, Arial, sans-serif;
$headline-font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
$monospace-font-family: "Source Code Pro", monospace;
$base-font-weight: 400;
$bold-font-weight: 600;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Colors
$text-color:       #D0C0B7;
$background-color: #202020;
$brand-color:      #F75757;

$grey-color:       #A09087;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1024;

$on-palm:          600px;
$on-laptop:        1024px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

// Include Fonts
@import "fonts";
