---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  {% if page.video-url %}
  <video 
    src="{{ page.video-url }}"
    {% if page.video-type %}
    type="{{ page.video-type }}"
    {% endif %}
    controls>
  </video>
  {% else if page.video-urls %}
  <video controls>
    {% for video in page.video-urls %}
    <source src="{{ video.src }}" type="{{ video.type }}"/>
    {% endfor %}
  </video>
  {% endif %}

  <header class="post-header">
    {% include author.html %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
