---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.video-url %}
  <video
    src="{{ page.video-url }}"
		class="post-video"
    {% if page.video-type %}
    type="{{ page.video-type }}"
    {% endif %}
    controls>
  </video>
  {% else if page.video-urls %}
  <video class="post-video" controls>
    {% for video in page.video-urls %}
    <source src="{{ video.src }}" type="{{ video.type }}"/>
    {% endfor %}
  </video>
  {% endif %}

  <div itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
